
@{
    ViewData["Title"] = "Rooms";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/Style.css">
    <!-- Include any additional CSS files -->
</head>



 <body>
     <section class="section about text-center" aria-labelledby="about-label" id="about">
        <div class="container">

          <div class="about-content">

            <p class="label-2 section-subtitle" id="about-label">About</p>

            <h2 class="headline-1 section-title">Welcome to DreamParadise</h2>

            <p class="section-text">
 your ultimate destination for luxury and comfort. 
Nestled in a serene location, 
our 5-star hotel offers an unparalleled experience of elegance and sophistication.
 At DreamParadise, we pride ourselves on providing exceptional service and amenities that cater to both leisure 
 and business travelers.
            </p>

            <div class="contact-label">Book Through Call</div>

            <a href="tel:+804001234567" class="body-1 contact-number hover-underline">+80 (400) 123 4567</a>

            <a href="#" class="btn btn-primary">
              <span class="text text-1">Read More</span>

              <span class="text text-2" aria-hidden="true">Read More</span>
            </a>

          </div>

          <figure class="about-banner">

            <img src="https://cdn.pixabay.com/photo/2014/07/21/19/20/lobby-398845_1280.jpg" width="570" height="570" loading="lazy" alt="about banner"
              class="w-100" data-parallax-item data-parallax-speed="1">

            <div class="abs-img abs-img-1 has-before" data-parallax-item data-parallax-speed="1.75">
              <img src="https://cdn.pixabay.com/photo/2014/06/05/08/12/hotel-lobby-362568_1280.jpg" width="285" height="285" loading="lazy" alt=""
                class="w-100">
            </div>

            @* <div class="abs-img abs-img-2 has-before">
              <img src="https://1000logos.net/wp-content/uploads/2020/10/Hotels-com-Logo.jpg" width="133" height="134" loading="lazy" alt="">
            </div> *@

          </figure>

          <img src="https://cdn.pixabay.com/photo/2018/03/28/07/14/architecture-3268488_1280.jpg" width="197" height="194" loading="lazy" alt="" class="shape">

        </div>
      </section>
      

 </body>
 
 
 