@{
    ViewData["Title"] = "Rooms";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Style.css">
    @* <link rel="stylesheet" href="~/css/site.css"> *@
    <!-- Include any additional CSS files -->
</head>
<body  class="reservation">
    

      <div class="hero text-center"
    style="background-image: url('https://cdn.pixabay.com/photo/2018/03/28/07/14/architecture-3268488_1280.jpg')">
    <div class="container">

      <div class="footer grid-list">

        <div class="footer-brand has-before has-after">

          @* <a href="#" class="logo">
            <img src="./assets/images/logo.svg" width="160" height="50" loading="lazy" alt="grilli home">
          </a> *@

          <address class="body-4">
           Hôtel, Carthage Dream Paradise
          </address>

          <a href="mailto:booking@dream-paradise.com" class="body-4 contact-link">booking@grilli.com</a>

          <a href="tel:+88123123456" class="body-4 contact-link">Booking Request : +88-123-123456</a>


          <div class="wrapper">
            <div class="separator">d</div>
            <div class="separator">r</div>
            <div class="separator">e</div>
          </div>

          <p class="title-1">welcome</p>




        </div>



      

      </div>

    </div>
  </div>
</body>